################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HelloWorld.Core.Api/v15/Server/sqlite3/storage.ide-wal
